{
    "viewerConfigurationId": "HX3CDW4NJW",
    "CustomerId": 1, 
    "viewerTemplate": "BASEWIDGET",
    "viewerTemplateVersion": "v1",
    "viewerCoreVersion": "v1", 
    "viewerShellVersion": "v1",
    "configuration": {        
        "cacheVersion": "1.2",
        "selectedLanguage": "en-US", 
        "experiences": [
            {"atom": "loupeRealViewImage", "order": 0, "type": "thumbnail"},
            {"atom": "loupeRealView", "order": 1, "version": "v1"},
            {"atom": "lightReportViewer", "order": 2, "version": "v1", "templateVersion": 1},
            {"atom": "loupe3DFullInspection", "order": 3, "version": "v1"},
            {"atom": "loupeInscription", "order": 4, "version": "v1" },
            {"atom": "cut2DView", "order": 5, "version": "v2"},
            {"atom": "externalPdf", "order": 6, "version": "v1"}
        ]
    }
}
